<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Document</title>
  </head>
  <body style="height: 1000px; text-align: center">
    <header
      style="height: 10%; border: 4px solid black; background-color: blue"
    >
      <p>header</p>
    </header>
    <nav style="height: 10%; border: 4px solid black">
      <p>nav</p>
    </nav>
    <div style="height: 70%">
      <nav
        style="height: 100%; width: 20%; border: 4px solid black; float: left"
      >
        <p>side nav</p>
      </nav>
      <main
        style="height: 100%; width: 67%; border: 4px solid black; float: left"
      >
        <p>main</p>
      </main>
      <aside
        style="height: 100%; width: 11.5%; border: 4px solid black; float: left"
      >
        <p>Advertisement</p>
      </aside>
    </div>
    <footer style="height: 10%; background-color: red; font-size: 25px">
      <br />
      <marquee style="color: black">Breaking news</marquee>
    </footer>
  </body>
</html>
